* {
  box-sizing: border-box;
}

.header__bar {
  height: 100px;
  background-color: $smoke_white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__title__text {
    text-decoration: none;
    color: $dark_gray;
    font-size: 30px;
  }
  .header__right {
    display: flex;
    &__text {
      margin-right: 20px;
      line-height: 50px;
      &--name {
        padding-left: 5px;
        font-size: 20px;
        color: $lamp_black;
        background-color: $white;
      }
    }
    &__btn {
      margin-left: 20px;
      padding: 10px 10px;
      background-color: $white;
      border: 3px solid $shadow_blue;
      border-radius: 3px;
      text-decoration: none;
      &--icon {
        color: $shadow_blue;
        font-weight: bold;
      }
    }
    &__btnR {
      margin-left: 20px;
      line-height: 50px;
      text-decoration: none;
      &--icon {
        color: $red;
        font-weight: bold;
      }
    }
  }
}

.content {
  height: calc(100vh - 100px);
  background-color: $silver_gray;
  padding: 50px 0 0;
  display: flex;
  justify-content: center;
}

.input {
  width: 220px;
  &__form {
    margin-bottom: 5px;
    &__label {
      font-size: 18px;
      font-weight: bold;
      color: $lamp_black;
    }
  }
}
.input__submit__btn {
  display: inline-block;
  width: 130px;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  color: $white;
  background-color: $shadow_blue;
  border-radius: 15px;
}