h2 {
  font-size: 24px;
  font-weight: bold;
  color: $lamp_black;
  margin-bottom: 15px;
}

.user {
  width: 220px;
  }

.field {
  margin-bottom: 10px;
}

.actions {
  margin: 20px 0;
  &__submit {
    display: inline-block;
    width: 100px;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: $white;
    background-color: $shadow_blue;
    border-radius: 20px;
  }
}